In [ ]:
#Tuple
#A tuple is a collection which is ordered and unchangeable
myTuple = ("apple", "banana", "cherry")
print(myTuple)

('apple', 'banana', 'cherry')

In [2]:
thisTuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thisTuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [3]:
#length
myTuple = ("apple", "banana", "cherry")
print(len(myTuple))

3

In [4]:
#one item tuple,remember the comma
thisTuple = ("apple",)
print(type(thisTuple))

<class 'tuple'>

In [ ]:
#not a tuple
thisTuple = ("apple")
print(type(thisTuple))

<class 'str'>

In [7]:
#tuple items can be of any type
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1,5,7,8,3)
tuple1 = (True, False, False)

In [8]:
#what is the data type of a tuple
#from python's perspective, tuples are defined as objective
myTuple = ("apple", "banana", "cherry")
print(type(myTuple))

<class 'tuple'>

In [9]:
#The tuple constructor
thisTuple = tuple(("apple", "banana", "cherry"))
print(thisTuple)

('apple', 'banana', 'cherry')

In [ ]:
#access the tuple
myTuple = ("apple", "banana", "cherry")
print(myTuple[1])

banana

In [11]:
#negative indexing
myTuple = ("apple", "banana", "cherry")
print(myTuple[-1])

cherry

In [12]:
#range of indexes
myTuple = ("apple", "banana", "cherry", "mango", "kiwi")
print(myTuple[2:5])

('cherry', 'mango', 'kiwi')

In [13]:
#to determine if a specific item is present or not
myTuple = ("apple", "banana", "cherry")
if "apple" in myTuple:
    print("yes,apple is present")

yes,apple is present

In [ ]:
#convert the tuple into list
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [15]:
thisTuple = ("apple", "banana", "cherry")
y = list(thisTuple)
y.append("orange")
thisTuple = tuple(y)
print(thisTuple)

('apple', 'banana', 'cherry', 'orange')

In [16]:
#create a new tuple
thisTuple = ("apple", "banana", "cherry")
y = ("orange",)
thisTuple += y
print(thisTuple)

('apple', 'banana', 'cherry', 'orange')

In [18]:
#convert the tuple into a list
thisTuple = ("apple", "banana", "cherry")
y = list(thisTuple)
y.remove("apple")
thisTuple = tuple(y)
print(thisTuple)

('banana', 'cherry')

In [20]:
#del keyword can delete entire tuple
thisTuple = ("apple", "banana", "cherry")
del thisTuple
# print(thisTuple)

In [21]:
#unpacking a tuple
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:

#asterisk
fruits = ("apple", "banana", "cherry", "strawberry", "kiwi", "mango")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'kiwi', 'mango']

In [23]:
fruits = ("apple", "banana", "cherry", "strawberry", "kiwi", "mango")
(green, *yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry', 'kiwi']
mango

In [25]:
#Loop through a tuple
thisTuple = ("apple", "banana", "cherry")
for x in thisTuple:
    print(x)

apple
banana
cherry

In [ ]:
#Loop through the index number
thisTuple = ("apple", "banana", "cherry")
for i in range(len(thisTuple)):
    print(thisTuple[i])

apple
banana
cherry

In [27]:
#while loop
thisTuple = ("apple", "banana", "cherry")
i = 0
while i < len(thisTuple):
    print(thisTuple[i])
    i = i + 1

apple
banana
cherry

In [ ]:
#Tuple join
tuple1 = ("a", "b", "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [31]:
#multiply tuple
tuple1 = ("a", "b", "c")
myTuple = tuple1 * 3
print(myTuple)

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

In [ ]:
#sets are used to store multiple items
thisSet = {"apple", "banana", "cherry"}
print(thisSet)

{'apple', 'banana', 'cherry'}

In [33]:
#duplicate values will be ignored
thisSet = {"apple", "banana", "cherry", "apple", "cherry"}
print(thisSet)

{'apple', 'banana', 'cherry'}

In [34]:
#true and 1 are same
thisSet = {"apple", "banana", "cherry", "apple", "cherry", True, 1, 2}
print(thisSet)

{True, 2, 'cherry', 'apple', 'banana'}

In [35]:
#False and 0
thisSet = {"apple", "banana", "cherry", "apple", "cherry", True, 1, 2, False, 0}
print(thisSet)

{False, True, 2, 'cherry', 'apple', 'banana'}

In [37]:
#get the number of items in a set
thisSet = {"apple", "banana", "cherry", "apple"}
print(len(thisSet))

3

In [ ]:
#string, int, and boolean data types
set1 = {"apple", "banana", "cherry"}
set2 = {1, 2, 3}
set3 = {True, False, True}

In [38]:
#set with different data types
set1 = {"apple", "banana", "cherry", 34, True}
print(set1)

{True, 34, 'cherry', 'apple', 'banana'}

In [ ]:
set1 = {"apple", "banana", "cherry", 34, True}
print(type(set1))

<class 'set'>

In [40]:
thisSet = set(("apple", "banana", "cherry"))
print(thisSet)

{'apple', 'banana', 'cherry'}

In [41]:
set1 = {"apple", "banana", "cherry", 34, True}
for x in thisSet:
    print(x)

apple
banana
cherry

In [42]:
set1 = {"apple", "banana", "cherry", 34, True}
print("banana" in set1)
print("banana" not in set1)

True
False

In [ ]:
# Add an item to a set